In [1]:
import numpy as np
import pandas as pd
import math
import random
import matplotlib.pyplot as plt

In [2]:
ww=pd.read_csv("CarPrice_Assignment.csv")
ww=ww.dropna()
ww

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,-1,volvo 145e (sw),gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845.0
201,202,-1,volvo 144ea,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045.0
202,203,-1,volvo 244dl,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485.0
203,204,-1,volvo 246,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470.0
204,205,-1,volvo 264gl,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0

In [3]:
#Using Median Splitting:
median = np.median(ww['price'])
median=int(median)
df = pd.DataFrame(ww,columns=['fueltype','doornumber','aspiration','price'])
for i in range(len(df['price'])):
    if(df['price'][i]>=median):
        df['price'][i]='high'
    else:
        df['price'][i]='low'
df

<ipython-input-3-1b54850438aa>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price'][i]='high'
C:\Users\Utsav Parekh\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

    fueltype doornumber aspiration price
0        gas        two        std  high
1        gas        two        std  high
2        gas        two        std  high
3        gas       four        std  high
4        gas       four        std  high
..       ...        ...        ...   ...
200      gas       four        std  high
201      gas       four      turbo  high
202      gas       four        std  high
203   diesel       four      turbo  high
204      gas       four      turbo  high

[205 rows x 4 columns]

# Finding Unique Values

In [4]:
aspiration_priority=df['aspiration'].unique()
print(aspiration_priority)

['std' 'turbo']

In [5]:
fueltype_priority=df['fueltype'].unique()
print(fueltype_priority)

['gas' 'diesel']

In [6]:
fuelsystem_priority=df['doornumber'].unique()
print(fuelsystem_priority)

['two' 'four']

In [7]:
target_priority=df['price'].unique()
global target_priority
print(target_priority)

['high' 'low']

# Finding Initial System Entropy

In [8]:
l=len(df['price'])
std_count=0
t_count=0
for i in range(l):
    if(df['price'][i]=='low'):
        std_count+=1
    else:
        t_count+=1
ES=-(((std_count/len(df))*np.log2(std_count/len(df)))+((t_count/len(df))*np.log2(t_count/len(df))))
print(ES)

0.9999828352080604

# Finding System Entropy

In [9]:
def system_ent(df1):
    ES=0
    std_count=0
    t_count=0
    for i in df1['price']:
        if(i=='low'):
            std_count+=1
        else:
            t_count+=1
    ES=-(((std_count/len(df1))*np.log2(std_count/len(df1)))+((t_count/len(df1))*np.log2(t_count/len(df1))))
    return(ES)

# Finding Entropy of an attribute

In [10]:
def entropy(col,target):
    uniqval=col.unique()
    target_priority=target.unique()
    l=len(col)
    e_u=[]
    for j in range(len(uniqval)):
        diesel_stdcounter=0
        diesel_tcounter=0
        diesel_count=0
        ind=0
        for i in col:
            if(i==uniqval[j]):
                k=col[col==i].index[ind]
                ind+=1
                diesel_count+=1
                if(target[k]==target_priority[1]):
                    diesel_stdcounter+=1
                else:
                    diesel_tcounter+=1
        if(diesel_stdcounter==0 or diesel_tcounter==0):
            e_u.append(0)
        else:
            a=(diesel_stdcounter/diesel_count)
            b=(diesel_tcounter/diesel_count)
            e_u.append(-((a*np.log2(a))+(b*np.log2(b))))
    return e_u      
        
ent_door=entropy(df['doornumber'],df['price'])
ent_fuel=entropy(df['fueltype'],df['price'])
ent_asp=entropy(df['aspiration'],df['price'])
print("Entropies:")
print("Doornumber:",ent_door,"\nFuel:",ent_fuel,"\nAspiration:",ent_asp)

Entropies:
Doornumber: [0.9967916319816366, 0.9973256795690415]
Fuel: [0.9989669987582559, 0.8812908992306927]
Aspiration: [0.9875943537925622, 0.6997722217733069]

# Finding Info Gain

In [11]:
def infogain(ES,ent,col):
    uniqval=col.unique()
    l=len(col)
    diesel_count=0
    gas_count=0
    total_count=l
    for i in col:
            if(i==uniqval[0]):
                gas_count+=1
            else:
                diesel_count+=1
    ig_f=ES-((gas_count/total_count)*ent[0])-((diesel_count/total_count)*ent[1])
    return ig_f
door_info=infogain(ES,ent_door,df['doornumber'])
fuel_info=infogain(ES,ent_fuel,df['fueltype'])
asp_info=infogain(ES,ent_asp,df['aspiration'])
print("Info Gain:")
print("Doornumber:",door_info,'\nFuel Type',fuel_info,"\nAspiration:",asp_info)

Info Gain:
Doornumber: 0.0028916155554404854
Fuel Type 0.012496431525664264
Aspiration: 0.06433686621897355

In [12]:
df1 = df[df['aspiration']=='std']
df2 = df[df['aspiration']=='turbo']

In [13]:
ES1=system_ent(df1)
ent1_door=entropy(df1['doornumber'],df1['price'])
ent1_fuel=entropy(df1['fueltype'],df1['price'])
print("Door entropy",ent1_door)
print("Fuel entropy",ent1_fuel)
door_info1=infogain(ES1,ent1_door,df1['doornumber'])
fuel_info1=infogain(ES1,ent1_fuel,df1['fueltype'])
print("Door Info Gain",door_info1)
print("Fuel Info Gain",fuel_info1)

Door entropy [0.9844268978000114, 0.989884644089986]
Fuel entropy [0.9899303926829206, 0.863120568566631]
Door Info Gain 0.000146203582029103
Fuel Info Gain 0.002947703781153631

In [14]:
df5 = df1[df1['fueltype']=='gas']
df6 = df1[df1['fueltype']=='diesel']  
print(df5,'\n',df6)

    fueltype doornumber aspiration price
0        gas        two        std  high
1        gas        two        std  high
2        gas        two        std  high
3        gas       four        std  high
4        gas       four        std  high
..       ...        ...        ...   ...
195      gas       four        std  high
196      gas       four        std  high
197      gas       four        std  high
200      gas       four        std  high
202      gas       four        std  high

[161 rows x 4 columns]
     fueltype doornumber aspiration price
63    diesel       four        std  high
66    diesel       four        std  high
90    diesel        two        std   low
158   diesel       four        std   low
159   diesel       four        std   low
182   diesel        two        std   low
184   diesel       four        std   low

In [15]:
ES3=system_ent(df5)
print("System Entropy for dataframe 5", ES3)

System Entropy for dataframe 5 0.9899303926829206

In [16]:
ES3=system_ent(df6)
print("System Entropy for dataframe 6", ES3)

System Entropy for dataframe 6 0.863120568566631

In [17]:
ES2=system_ent(df2)
ent2_door=entropy(df2['doornumber'],df2['price'])
ent2_fuel=entropy(df2['fueltype'],df2['price'])
print("Door entropy",ent2_door)
print("Fuel entropy",ent2_fuel)
door_info2=infogain(ES2,ent2_door,df2['doornumber'])
fuel_info2=infogain(ES2,ent2_fuel,df2['fueltype'])
print("Door Info Gain",door_info2)
print("Fuel Info Gain",fuel_info2)

Door entropy [0.4394969869215134, 0.9182958340544896]
Fuel entropy [0.8112781244591328, 0.39124356362925566]
Door Info Gain 0.06616759412220852
Fuel Info Gain 0.03607380787602271

In [18]:
df3 = df2[df2['doornumber']=='two']
df4 = df2[df2['doornumber']=='four']  
print(df3,'\n',df4)

    fueltype doornumber aspiration price
9        gas        two      turbo  high
23       gas        two      turbo   low
27       gas        two      turbo   low
29       gas        two      turbo  high
69    diesel        two      turbo  high
75       gas        two      turbo  high
79       gas        two      turbo   low
80       gas        two      turbo   low
82       gas        two      turbo  high
83       gas        two      turbo  high
84       gas        two      turbo  high
105      gas        two      turbo  high
119      gas        two      turbo   low
124      gas        two      turbo  high
136      gas        two      turbo  high
     fueltype doornumber aspiration price
8        gas       four      turbo  high
67    diesel       four      turbo  high
68    diesel       four      turbo  high
70    diesel       four      turbo  high
87       gas       four      turbo   low
108   diesel       four      turbo  high
110   diesel       four      turbo  high
112   diesel       four      turbo  high
114   diesel       four      turbo  high
116   diesel       four      turbo  high
117      gas       four      turbo  high
137      gas       four      turbo  high
145      gas       four      turbo  high
149      gas       four      turbo  high
174   diesel       four      turbo  high
187   diesel       four      turbo   low
192   diesel       four      turbo  high
198      gas       four      turbo  high
199      gas       four      turbo  high
201      gas       four      turbo  high
203   diesel       four      turbo  high
204      gas       four      turbo  high

In [19]:
ES3=system_ent(df3)
print("System Entropy for dataframe 3", ES3)

System Entropy for dataframe 3 0.9182958340544896

In [20]:
ES3=system_ent(df4)
print("System Entropy for dataframe 4", ES3)

System Entropy for dataframe 4 0.4394969869215134

                    aspiration
                   /         \
                  std         turbo
               /       \      /    \
            gas      diesel two    four
            /\         /\    \      /\
          low high  low high high low high